
openvisualizer/
openwsn-fw/
paho.mqtt.python/
coap/
cli-tools/
ssh-cli-tools/
scripts/logs/*
scripts/jupyter/logs/*
scripts/bash/logs/*
*/*.xcworkspace*/*
openwsn-cca.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
openwsn-cca.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
openwsn-cca.xcworkspace/xcuserdata/theoleyre.xcuserdatad/UserInterfaceState.xcuserstate
openwsn-cca.xcworkspace/xcuserdata/theoleyre.xcuserdatad/WorkspaceSettings.xcsettings
openwsn-cca.xcworkspace/xcuserdata/theoleyre.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.dump
*.db
results/*
*pycache*
scripts/iotlab-experiments.xcworkspace/xcuserdata/theoleyre.xcuserdatad/UserInterfaceState.xcuserstate
scripts/bash/exp-iotlab.xcworkspace/contents.xcworkspacedata
scripts/__pycache__/iotlabowsn.cpython-38.pyc
openwsn-cca.xcworkspace/contents.xcworkspacedata
